openlibclient/openlibclient-client/src/resources/wsdl/author.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="author" targetNamespace="http://author.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://author.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/author?xsd=1" namespace="http://author.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="listauthor">
        <part name="parameters" element="tns:listauthor"/>
    </message>
    <message name="listauthorResponse">
        <part name="parameters" element="tns:listauthorResponse"/>
    </message>
    <message name="addAuthor">
        <part name="parameters" element="tns:addAuthor"/>
    </message>
    <message name="addAuthorResponse">
        <part name="parameters" element="tns:addAuthorResponse"/>
    </message>
    <message name="updateAuthor">
        <part name="parameters" element="tns:updateAuthor"/>
    </message>
    <message name="updateAuthorResponse">
        <part name="parameters" element="tns:updateAuthorResponse"/>
    </message>
    <message name="deleteAuthor">
        <part name="parameters" element="tns:deleteAuthor"/>
    </message>
    <message name="deleteAuthorResponse">
        <part name="parameters" element="tns:deleteAuthorResponse"/>
    </message>
    <message name="getAuthor">
        <part name="parameters" element="tns:getAuthor"/>
    </message>
    <message name="getAuthorResponse">
        <part name="parameters" element="tns:getAuthorResponse"/>
    </message>
    <portType name="AuthorService">
        <operation name="listauthor">
            <input message="tns:listauthor" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/listauthorRequest"/>
            <output message="tns:listauthorResponse" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/listauthorResponse"/>
        </operation>
        <operation name="addAuthor">
            <input message="tns:addAuthor" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/addAuthorRequest"/>
            <output message="tns:addAuthorResponse" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/addAuthorResponse"/>
        </operation>
        <operation name="updateAuthor">
            <input message="tns:updateAuthor" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/updateAuthorRequest"/>
            <output message="tns:updateAuthorResponse" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/updateAuthorResponse"/>
        </operation>
        <operation name="deleteAuthor">
            <input message="tns:deleteAuthor" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/deleteAuthorRequest"/>
            <output message="tns:deleteAuthorResponse" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/deleteAuthorResponse"/>
        </operation>
        <operation name="getAuthor">
            <input message="tns:getAuthor" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/getAuthorRequest"/>
            <output message="tns:getAuthorResponse" wsam:Action="http://author.service.openlib.mahxwell.org/AuthorService/getAuthorResponse"/>
        </operation>
    </portType>
    <binding name="AuthorServicePortBinding" type="tns:AuthorService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listauthor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addAuthor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateAuthor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteAuthor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getAuthor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="author">
        <port name="AuthorServicePort" binding="tns:AuthorServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/author"/>
        </port>
    </service>
</definitions>