openlibclient/openlibclient-client/src/resources/wsdl/book.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="book" targetNamespace="http://book.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://book.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/book?xsd=1" namespace="http://book.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="getBook">
        <part name="parameters" element="tns:getBook"/>
    </message>
    <message name="getBookResponse">
        <part name="parameters" element="tns:getBookResponse"/>
    </message>
    <message name="updateBook">
        <part name="parameters" element="tns:updateBook"/>
    </message>
    <message name="updateBookResponse">
        <part name="parameters" element="tns:updateBookResponse"/>
    </message>
    <message name="deleteBook">
        <part name="parameters" element="tns:deleteBook"/>
    </message>
    <message name="deleteBookResponse">
        <part name="parameters" element="tns:deleteBookResponse"/>
    </message>
    <message name="quicksearch">
        <part name="parameters" element="tns:quicksearch"/>
    </message>
    <message name="quicksearchResponse">
        <part name="parameters" element="tns:quicksearchResponse"/>
    </message>
    <message name="advancedsearch">
        <part name="parameters" element="tns:advancedsearch"/>
    </message>
    <message name="advancedsearchResponse">
        <part name="parameters" element="tns:advancedsearchResponse"/>
    </message>
    <message name="booksMail">
        <part name="parameters" element="tns:booksMail"/>
    </message>
    <message name="booksMailResponse">
        <part name="parameters" element="tns:booksMailResponse"/>
    </message>
    <message name="listbook">
        <part name="parameters" element="tns:listbook"/>
    </message>
    <message name="listbookResponse">
        <part name="parameters" element="tns:listbookResponse"/>
    </message>
    <message name="addBook">
        <part name="parameters" element="tns:addBook"/>
    </message>
    <message name="addBookResponse">
        <part name="parameters" element="tns:addBookResponse"/>
    </message>
    <portType name="BookService">
        <operation name="getBook">
            <input message="tns:getBook" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/getBookRequest"/>
            <output message="tns:getBookResponse" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/getBookResponse"/>
        </operation>
        <operation name="updateBook">
            <input message="tns:updateBook" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/updateBookRequest"/>
            <output message="tns:updateBookResponse" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/updateBookResponse"/>
        </operation>
        <operation name="deleteBook">
            <input message="tns:deleteBook" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/deleteBookRequest"/>
            <output message="tns:deleteBookResponse" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/deleteBookResponse"/>
        </operation>
        <operation name="quicksearch">
            <input message="tns:quicksearch" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/quicksearchRequest"/>
            <output message="tns:quicksearchResponse" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/quicksearchResponse"/>
        </operation>
        <operation name="advancedsearch">
            <input message="tns:advancedsearch" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/advancedsearchRequest"/>
            <output message="tns:advancedsearchResponse" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/advancedsearchResponse"/>
        </operation>
        <operation name="booksMail">
            <input message="tns:booksMail" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/booksMailRequest"/>
            <output message="tns:booksMailResponse" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/booksMailResponse"/>
        </operation>
        <operation name="listbook">
            <input message="tns:listbook" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/listbookRequest"/>
            <output message="tns:listbookResponse" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/listbookResponse"/>
        </operation>
        <operation name="addBook">
            <input message="tns:addBook" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/addBookRequest"/>
            <output message="tns:addBookResponse" wsam:Action="http://book.service.openlib.mahxwell.org/BookService/addBookResponse"/>
        </operation>
    </portType>
    <binding name="BookServicePortBinding" type="tns:BookService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="quicksearch">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="advancedsearch">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="booksMail">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listbook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="book">
        <port name="BookServicePort" binding="tns:BookServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/book"/>
        </port>
    </service>
</definitions>