openlibclient/openlibclient-client/src/resources/wsdl/bookloaning.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="bookloaning" targetNamespace="http://bookloaning.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bookloaning.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/bookloaning?xsd=1" namespace="http://bookloaning.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="listbookloaning">
        <part name="parameters" element="tns:listbookloaning"/>
    </message>
    <message name="listbookloaningResponse">
        <part name="parameters" element="tns:listbookloaningResponse"/>
    </message>
    <message name="addBookloaning">
        <part name="parameters" element="tns:addBookloaning"/>
    </message>
    <message name="addBookloaningResponse">
        <part name="parameters" element="tns:addBookloaningResponse"/>
    </message>
    <message name="updateBookloaning">
        <part name="parameters" element="tns:updateBookloaning"/>
    </message>
    <message name="updateBookloaningResponse">
        <part name="parameters" element="tns:updateBookloaningResponse"/>
    </message>
    <message name="deleteBookloaning">
        <part name="parameters" element="tns:deleteBookloaning"/>
    </message>
    <message name="deleteBookloaningResponse">
        <part name="parameters" element="tns:deleteBookloaningResponse"/>
    </message>
    <message name="getBookloaning">
        <part name="parameters" element="tns:getBookloaning"/>
    </message>
    <message name="getBookloaningResponse">
        <part name="parameters" element="tns:getBookloaningResponse"/>
    </message>
    <message name="listbookloaningByUser">
        <part name="parameters" element="tns:listbookloaningByUser"/>
    </message>
    <message name="listbookloaningByUserResponse">
        <part name="parameters" element="tns:listbookloaningByUserResponse"/>
    </message>
    <message name="listbookloaningByCopy">
        <part name="parameters" element="tns:listbookloaningByCopy"/>
    </message>
    <message name="listbookloaningByCopyResponse">
        <part name="parameters" element="tns:listbookloaningByCopyResponse"/>
    </message>
    <message name="listbookloaningByBook">
        <part name="parameters" element="tns:listbookloaningByBook"/>
    </message>
    <message name="listbookloaningByBookResponse">
        <part name="parameters" element="tns:listbookloaningByBookResponse"/>
    </message>
    <message name="listbookloaningByBookAndUser">
        <part name="parameters" element="tns:listbookloaningByBookAndUser"/>
    </message>
    <message name="listbookloaningByBookAndUserResponse">
        <part name="parameters" element="tns:listbookloaningByBookAndUserResponse"/>
    </message>
    <message name="bookloaningslate">
        <part name="parameters" element="tns:bookloaningslate"/>
    </message>
    <message name="bookloaningslateResponse">
        <part name="parameters" element="tns:bookloaningslateResponse"/>
    </message>
    <message name="listbookloaningByBookOrderByDateAsc">
        <part name="parameters" element="tns:listbookloaningByBookOrderByDateAsc"/>
    </message>
    <message name="listbookloaningByBookOrderByDateAscResponse">
        <part name="parameters" element="tns:listbookloaningByBookOrderByDateAscResponse"/>
    </message>
    <portType name="BookloaningService">
        <operation name="listbookloaning">
            <input message="tns:listbookloaning" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningRequest"/>
            <output message="tns:listbookloaningResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningResponse"/>
        </operation>
        <operation name="addBookloaning">
            <input message="tns:addBookloaning" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/addBookloaningRequest"/>
            <output message="tns:addBookloaningResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/addBookloaningResponse"/>
        </operation>
        <operation name="updateBookloaning">
            <input message="tns:updateBookloaning" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/updateBookloaningRequest"/>
            <output message="tns:updateBookloaningResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/updateBookloaningResponse"/>
        </operation>
        <operation name="deleteBookloaning">
            <input message="tns:deleteBookloaning" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/deleteBookloaningRequest"/>
            <output message="tns:deleteBookloaningResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/deleteBookloaningResponse"/>
        </operation>
        <operation name="getBookloaning">
            <input message="tns:getBookloaning" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/getBookloaningRequest"/>
            <output message="tns:getBookloaningResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/getBookloaningResponse"/>
        </operation>
        <operation name="listbookloaningByUser">
            <input message="tns:listbookloaningByUser" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByUserRequest"/>
            <output message="tns:listbookloaningByUserResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByUserResponse"/>
        </operation>
        <operation name="listbookloaningByCopy">
            <input message="tns:listbookloaningByCopy" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByCopyRequest"/>
            <output message="tns:listbookloaningByCopyResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByCopyResponse"/>
        </operation>
        <operation name="listbookloaningByBook">
            <input message="tns:listbookloaningByBook" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByBookRequest"/>
            <output message="tns:listbookloaningByBookResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByBookResponse"/>
        </operation>
        <operation name="listbookloaningByBookAndUser">
            <input message="tns:listbookloaningByBookAndUser" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByBookAndUserRequest"/>
            <output message="tns:listbookloaningByBookAndUserResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByBookAndUserResponse"/>
        </operation>
        <operation name="bookloaningslate">
            <input message="tns:bookloaningslate" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/bookloaningslateRequest"/>
            <output message="tns:bookloaningslateResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/bookloaningslateResponse"/>
        </operation>
        <operation name="listbookloaningByBookOrderByDateAsc">
            <input message="tns:listbookloaningByBookOrderByDateAsc" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByBookOrderByDateAscRequest"/>
            <output message="tns:listbookloaningByBookOrderByDateAscResponse" wsam:Action="http://bookloaning.service.openlib.mahxwell.org/BookloaningService/listbookloaningByBookOrderByDateAscResponse"/>
        </operation>
    </portType>
    <binding name="BookloaningServicePortBinding" type="tns:BookloaningService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listbookloaning">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addBookloaning">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateBookloaning">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteBookloaning">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBookloaning">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listbookloaningByUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listbookloaningByCopy">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listbookloaningByBook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listbookloaningByBookAndUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookloaningslate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listbookloaningByBookOrderByDateAsc">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="bookloaning">
        <port name="BookloaningServicePort" binding="tns:BookloaningServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/bookloaning"/>
        </port>
    </service>
</definitions>