openlibclient/openlibclient-client/src/resources/wsdl/copy.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="copy" targetNamespace="http://copy.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://copy.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/copy?xsd=1" namespace="http://copy.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="listcopy">
        <part name="parameters" element="tns:listcopy"/>
    </message>
    <message name="listcopyResponse">
        <part name="parameters" element="tns:listcopyResponse"/>
    </message>
    <message name="listcopybybook">
        <part name="parameters" element="tns:listcopybybook"/>
    </message>
    <message name="listcopybybookResponse">
        <part name="parameters" element="tns:listcopybybookResponse"/>
    </message>
    <message name="addCopy">
        <part name="parameters" element="tns:addCopy"/>
    </message>
    <message name="addCopyResponse">
        <part name="parameters" element="tns:addCopyResponse"/>
    </message>
    <message name="updateCopy">
        <part name="parameters" element="tns:updateCopy"/>
    </message>
    <message name="updateCopyResponse">
        <part name="parameters" element="tns:updateCopyResponse"/>
    </message>
    <message name="deleteCopy">
        <part name="parameters" element="tns:deleteCopy"/>
    </message>
    <message name="deleteCopyResponse">
        <part name="parameters" element="tns:deleteCopyResponse"/>
    </message>
    <message name="getCopy">
        <part name="parameters" element="tns:getCopy"/>
    </message>
    <message name="getCopyResponse">
        <part name="parameters" element="tns:getCopyResponse"/>
    </message>
    <portType name="CopyService">
        <operation name="listcopy">
            <input message="tns:listcopy" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/listcopyRequest"/>
            <output message="tns:listcopyResponse" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/listcopyResponse"/>
        </operation>
        <operation name="listcopybybook">
            <input message="tns:listcopybybook" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/listcopybybookRequest"/>
            <output message="tns:listcopybybookResponse" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/listcopybybookResponse"/>
        </operation>
        <operation name="addCopy">
            <input message="tns:addCopy" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/addCopyRequest"/>
            <output message="tns:addCopyResponse" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/addCopyResponse"/>
        </operation>
        <operation name="updateCopy">
            <input message="tns:updateCopy" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/updateCopyRequest"/>
            <output message="tns:updateCopyResponse" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/updateCopyResponse"/>
        </operation>
        <operation name="deleteCopy">
            <input message="tns:deleteCopy" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/deleteCopyRequest"/>
            <output message="tns:deleteCopyResponse" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/deleteCopyResponse"/>
        </operation>
        <operation name="getCopy">
            <input message="tns:getCopy" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/getCopyRequest"/>
            <output message="tns:getCopyResponse" wsam:Action="http://copy.service.openlib.mahxwell.org/CopyService/getCopyResponse"/>
        </operation>
    </portType>
    <binding name="CopyServicePortBinding" type="tns:CopyService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listcopy">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listcopybybook">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addCopy">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateCopy">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteCopy">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCopy">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="copy">
        <port name="CopyServicePort" binding="tns:CopyServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/copy"/>
        </port>
    </service>
</definitions>