openlibclient/openlibclient-client/src/resources/wsdl/editor.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="editor" targetNamespace="http://editor.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://editor.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/editor?xsd=1" namespace="http://editor.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="addEditor">
        <part name="parameters" element="tns:addEditor"/>
    </message>
    <message name="addEditorResponse">
        <part name="parameters" element="tns:addEditorResponse"/>
    </message>
    <message name="updateEditor">
        <part name="parameters" element="tns:updateEditor"/>
    </message>
    <message name="updateEditorResponse">
        <part name="parameters" element="tns:updateEditorResponse"/>
    </message>
    <message name="deleteEditor">
        <part name="parameters" element="tns:deleteEditor"/>
    </message>
    <message name="deleteEditorResponse">
        <part name="parameters" element="tns:deleteEditorResponse"/>
    </message>
    <message name="getEditor">
        <part name="parameters" element="tns:getEditor"/>
    </message>
    <message name="getEditorResponse">
        <part name="parameters" element="tns:getEditorResponse"/>
    </message>
    <message name="listeditor">
        <part name="parameters" element="tns:listeditor"/>
    </message>
    <message name="listeditorResponse">
        <part name="parameters" element="tns:listeditorResponse"/>
    </message>
    <portType name="EditorService">
        <operation name="addEditor">
            <input message="tns:addEditor" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/addEditorRequest"/>
            <output message="tns:addEditorResponse" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/addEditorResponse"/>
        </operation>
        <operation name="updateEditor">
            <input message="tns:updateEditor" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/updateEditorRequest"/>
            <output message="tns:updateEditorResponse" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/updateEditorResponse"/>
        </operation>
        <operation name="deleteEditor">
            <input message="tns:deleteEditor" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/deleteEditorRequest"/>
            <output message="tns:deleteEditorResponse" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/deleteEditorResponse"/>
        </operation>
        <operation name="getEditor">
            <input message="tns:getEditor" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/getEditorRequest"/>
            <output message="tns:getEditorResponse" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/getEditorResponse"/>
        </operation>
        <operation name="listeditor">
            <input message="tns:listeditor" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/listeditorRequest"/>
            <output message="tns:listeditorResponse" wsam:Action="http://editor.service.openlib.mahxwell.org/EditorService/listeditorResponse"/>
        </operation>
    </portType>
    <binding name="EditorServicePortBinding" type="tns:EditorService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addEditor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateEditor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteEditor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEditor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listeditor">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="editor">
        <port name="EditorServicePort" binding="tns:EditorServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/editor"/>
        </port>
    </service>
</definitions>