openlibclient/openlibclient-client/src/resources/wsdl/genre.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="genre" targetNamespace="http://genre.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://genre.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/genre?xsd=1" namespace="http://genre.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="listgenre">
        <part name="parameters" element="tns:listgenre"/>
    </message>
    <message name="listgenreResponse">
        <part name="parameters" element="tns:listgenreResponse"/>
    </message>
    <message name="addGenre">
        <part name="parameters" element="tns:addGenre"/>
    </message>
    <message name="addGenreResponse">
        <part name="parameters" element="tns:addGenreResponse"/>
    </message>
    <message name="updateGenre">
        <part name="parameters" element="tns:updateGenre"/>
    </message>
    <message name="updateGenreResponse">
        <part name="parameters" element="tns:updateGenreResponse"/>
    </message>
    <message name="deleteGenre">
        <part name="parameters" element="tns:deleteGenre"/>
    </message>
    <message name="deleteGenreResponse">
        <part name="parameters" element="tns:deleteGenreResponse"/>
    </message>
    <message name="getGenre">
        <part name="parameters" element="tns:getGenre"/>
    </message>
    <message name="getGenreResponse">
        <part name="parameters" element="tns:getGenreResponse"/>
    </message>
    <portType name="GenreService">
        <operation name="listgenre">
            <input message="tns:listgenre" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/listgenreRequest"/>
            <output message="tns:listgenreResponse" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/listgenreResponse"/>
        </operation>
        <operation name="addGenre">
            <input message="tns:addGenre" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/addGenreRequest"/>
            <output message="tns:addGenreResponse" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/addGenreResponse"/>
        </operation>
        <operation name="updateGenre">
            <input message="tns:updateGenre" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/updateGenreRequest"/>
            <output message="tns:updateGenreResponse" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/updateGenreResponse"/>
        </operation>
        <operation name="deleteGenre">
            <input message="tns:deleteGenre" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/deleteGenreRequest"/>
            <output message="tns:deleteGenreResponse" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/deleteGenreResponse"/>
        </operation>
        <operation name="getGenre">
            <input message="tns:getGenre" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/getGenreRequest"/>
            <output message="tns:getGenreResponse" wsam:Action="http://genre.service.openlib.mahxwell.org/GenreService/getGenreResponse"/>
        </operation>
    </portType>
    <binding name="GenreServicePortBinding" type="tns:GenreService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listgenre">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addGenre">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateGenre">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteGenre">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getGenre">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="genre">
        <port name="GenreServicePort" binding="tns:GenreServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/genre"/>
        </port>
    </service>
</definitions>