openlibclient/openlibclient-client/src/resources/wsdl/library.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="library" targetNamespace="http://library.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://library.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/library?xsd=1" namespace="http://library.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="listlibrary">
        <part name="parameters" element="tns:listlibrary"/>
    </message>
    <message name="listlibraryResponse">
        <part name="parameters" element="tns:listlibraryResponse"/>
    </message>
    <message name="addLibrary">
        <part name="parameters" element="tns:addLibrary"/>
    </message>
    <message name="addLibraryResponse">
        <part name="parameters" element="tns:addLibraryResponse"/>
    </message>
    <message name="updateLibrary">
        <part name="parameters" element="tns:updateLibrary"/>
    </message>
    <message name="updateLibraryResponse">
        <part name="parameters" element="tns:updateLibraryResponse"/>
    </message>
    <message name="deleteLibrary">
        <part name="parameters" element="tns:deleteLibrary"/>
    </message>
    <message name="deleteLibraryResponse">
        <part name="parameters" element="tns:deleteLibraryResponse"/>
    </message>
    <message name="getLibrary">
        <part name="parameters" element="tns:getLibrary"/>
    </message>
    <message name="getLibraryResponse">
        <part name="parameters" element="tns:getLibraryResponse"/>
    </message>
    <portType name="LibraryService">
        <operation name="listlibrary">
            <input message="tns:listlibrary" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/listlibraryRequest"/>
            <output message="tns:listlibraryResponse" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/listlibraryResponse"/>
        </operation>
        <operation name="addLibrary">
            <input message="tns:addLibrary" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/addLibraryRequest"/>
            <output message="tns:addLibraryResponse" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/addLibraryResponse"/>
        </operation>
        <operation name="updateLibrary">
            <input message="tns:updateLibrary" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/updateLibraryRequest"/>
            <output message="tns:updateLibraryResponse" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/updateLibraryResponse"/>
        </operation>
        <operation name="deleteLibrary">
            <input message="tns:deleteLibrary" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/deleteLibraryRequest"/>
            <output message="tns:deleteLibraryResponse" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/deleteLibraryResponse"/>
        </operation>
        <operation name="getLibrary">
            <input message="tns:getLibrary" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/getLibraryRequest"/>
            <output message="tns:getLibraryResponse" wsam:Action="http://library.service.openlib.mahxwell.org/LibraryService/getLibraryResponse"/>
        </operation>
    </portType>
    <binding name="LibraryServicePortBinding" type="tns:LibraryService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="listlibrary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="addLibrary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateLibrary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteLibrary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLibrary">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="library">
        <port name="LibraryServicePort" binding="tns:LibraryServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/library"/>
        </port>
    </service>
</definitions>