openlibclient/openlibclient-client/src/resources/wsdl/reservation.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="reservation" targetNamespace="http://reservation.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://reservation.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/reservation?xsd=1" namespace="http://reservation.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="addReservation">
        <part name="parameters" element="tns:addReservation"/>
    </message>
    <message name="addReservationResponse">
        <part name="parameters" element="tns:addReservationResponse"/>
    </message>
    <message name="updateReservation">
        <part name="parameters" element="tns:updateReservation"/>
    </message>
    <message name="updateReservationResponse">
        <part name="parameters" element="tns:updateReservationResponse"/>
    </message>
    <message name="deleteReservation">
        <part name="parameters" element="tns:deleteReservation"/>
    </message>
    <message name="deleteReservationResponse">
        <part name="parameters" element="tns:deleteReservationResponse"/>
    </message>
    <message name="listreservation">
        <part name="parameters" element="tns:listreservation"/>
    </message>
    <message name="listreservationResponse">
        <part name="parameters" element="tns:listreservationResponse"/>
    </message>
    <message name="getReservation">
        <part name="parameters" element="tns:getReservation"/>
    </message>
    <message name="getReservationResponse">
        <part name="parameters" element="tns:getReservationResponse"/>
    </message>
    <message name="getReservationByUserIdAndCopyId">
        <part name="parameters" element="tns:getReservationByUserIdAndCopyId"/>
    </message>
    <message name="getReservationByUserIdAndCopyIdResponse">
        <part name="parameters" element="tns:getReservationByUserIdAndCopyIdResponse"/>
    </message>
    <message name="listreservationByBooks">
        <part name="parameters" element="tns:listreservationByBooks"/>
    </message>
    <message name="listreservationByBooksResponse">
        <part name="parameters" element="tns:listreservationByBooksResponse"/>
    </message>
    <message name="listreservationByUser">
        <part name="parameters" element="tns:listreservationByUser"/>
    </message>
    <message name="listreservationByUserResponse">
        <part name="parameters" element="tns:listreservationByUserResponse"/>
    </message>
    <message name="reservationByUserAndByBooks">
        <part name="parameters" element="tns:reservationByUserAndByBooks"/>
    </message>
    <message name="reservationByUserAndByBooksResponse">
        <part name="parameters" element="tns:reservationByUserAndByBooksResponse"/>
    </message>
    <message name="reservationsByCopyId">
        <part name="parameters" element="tns:reservationsByCopyId"/>
    </message>
    <message name="reservationsByCopyIdResponse">
        <part name="parameters" element="tns:reservationsByCopyIdResponse"/>
    </message>
    <message name="getReservationByMailDateNotNull">
        <part name="parameters" element="tns:getReservationByMailDateNotNull"/>
    </message>
    <message name="getReservationByMailDateNotNullResponse">
        <part name="parameters" element="tns:getReservationByMailDateNotNullResponse"/>
    </message>
    <message name="reservationsOrderById">
        <part name="parameters" element="tns:reservationsOrderById"/>
    </message>
    <message name="reservationsOrderByIdResponse">
        <part name="parameters" element="tns:reservationsOrderByIdResponse"/>
    </message>
    <portType name="ReservationService">
        <operation name="addReservation">
            <input message="tns:addReservation" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/addReservationRequest"/>
            <output message="tns:addReservationResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/addReservationResponse"/>
        </operation>
        <operation name="updateReservation">
            <input message="tns:updateReservation" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/updateReservationRequest"/>
            <output message="tns:updateReservationResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/updateReservationResponse"/>
        </operation>
        <operation name="deleteReservation">
            <input message="tns:deleteReservation" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/deleteReservationRequest"/>
            <output message="tns:deleteReservationResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/deleteReservationResponse"/>
        </operation>
        <operation name="listreservation">
            <input message="tns:listreservation" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/listreservationRequest"/>
            <output message="tns:listreservationResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/listreservationResponse"/>
        </operation>
        <operation name="getReservation">
            <input message="tns:getReservation" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/getReservationRequest"/>
            <output message="tns:getReservationResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/getReservationResponse"/>
        </operation>
        <operation name="getReservationByUserIdAndCopyId">
            <input message="tns:getReservationByUserIdAndCopyId" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/getReservationByUserIdAndCopyIdRequest"/>
            <output message="tns:getReservationByUserIdAndCopyIdResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/getReservationByUserIdAndCopyIdResponse"/>
        </operation>
        <operation name="listreservationByBooks">
            <input message="tns:listreservationByBooks" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/listreservationByBooksRequest"/>
            <output message="tns:listreservationByBooksResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/listreservationByBooksResponse"/>
        </operation>
        <operation name="listreservationByUser">
            <input message="tns:listreservationByUser" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/listreservationByUserRequest"/>
            <output message="tns:listreservationByUserResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/listreservationByUserResponse"/>
        </operation>
        <operation name="reservationByUserAndByBooks">
            <input message="tns:reservationByUserAndByBooks" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/reservationByUserAndByBooksRequest"/>
            <output message="tns:reservationByUserAndByBooksResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/reservationByUserAndByBooksResponse"/>
        </operation>
        <operation name="reservationsByCopyId">
            <input message="tns:reservationsByCopyId" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/reservationsByCopyIdRequest"/>
            <output message="tns:reservationsByCopyIdResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/reservationsByCopyIdResponse"/>
        </operation>
        <operation name="getReservationByMailDateNotNull">
            <input message="tns:getReservationByMailDateNotNull" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/getReservationByMailDateNotNullRequest"/>
            <output message="tns:getReservationByMailDateNotNullResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/getReservationByMailDateNotNullResponse"/>
        </operation>
        <operation name="reservationsOrderById">
            <input message="tns:reservationsOrderById" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/reservationsOrderByIdRequest"/>
            <output message="tns:reservationsOrderByIdResponse" wsam:Action="http://reservation.service.openlib.mahxwell.org/ReservationService/reservationsOrderByIdResponse"/>
        </operation>
    </portType>
    <binding name="ReservationServicePortBinding" type="tns:ReservationService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="addReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listreservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getReservation">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getReservationByUserIdAndCopyId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listreservationByBooks">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listreservationByUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reservationByUserAndByBooks">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reservationsByCopyId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getReservationByMailDateNotNull">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reservationsOrderById">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="reservation">
        <port name="ReservationServicePort" binding="tns:ReservationServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/reservation"/>
        </port>
    </service>
</definitions>