openlibclient/openlibclient-client/src/resources/wsdl/user.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0-b170703.2107 (UNKNOWN-8a6864f; 2017-07-03T21:07:56+0200) JAXWS-RI/2.3.0-b170703.2001 JAXWS-API/2.3.0 JAXB-RI/2.3.0-b170624.2321 JAXB-API/2.3.0 svn-revision#unknown. -->
<definitions name="user" targetNamespace="http://user.service.openlib.mahxwell.org/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://user.service.openlib.mahxwell.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            <xsd:import schemaLocation="http://localhost:8080/Openlibrary-Webservice/user?xsd=1" namespace="http://user.service.openlib.mahxwell.org/"/>
        </xsd:schema>
    </types>
    <message name="loginuser">
        <part name="parameters" element="tns:loginuser"/>
    </message>
    <message name="loginuserResponse">
        <part name="parameters" element="tns:loginuserResponse"/>
    </message>
    <message name="listusers">
        <part name="parameters" element="tns:listusers"/>
    </message>
    <message name="listusersResponse">
        <part name="parameters" element="tns:listusersResponse"/>
    </message>
    <message name="adduser">
        <part name="parameters" element="tns:adduser"/>
    </message>
    <message name="adduserResponse">
        <part name="parameters" element="tns:adduserResponse"/>
    </message>
    <message name="updateuser">
        <part name="parameters" element="tns:updateuser"/>
    </message>
    <message name="updateuserResponse">
        <part name="parameters" element="tns:updateuserResponse"/>
    </message>
    <message name="deleteuser">
        <part name="parameters" element="tns:deleteuser"/>
    </message>
    <message name="deleteuserResponse">
        <part name="parameters" element="tns:deleteuserResponse"/>
    </message>
    <message name="userstosendmail">
        <part name="parameters" element="tns:userstosendmail"/>
    </message>
    <message name="userstosendmailResponse">
        <part name="parameters" element="tns:userstosendmailResponse"/>
    </message>
    <message name="getUser">
        <part name="parameters" element="tns:getUser"/>
    </message>
    <message name="getUserResponse">
        <part name="parameters" element="tns:getUserResponse"/>
    </message>
    <portType name="UserService">
        <operation name="loginuser">
            <input message="tns:loginuser" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/loginuserRequest"/>
            <output message="tns:loginuserResponse" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/loginuserResponse"/>
        </operation>
        <operation name="listusers">
            <input message="tns:listusers" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/listusersRequest"/>
            <output message="tns:listusersResponse" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/listusersResponse"/>
        </operation>
        <operation name="adduser">
            <input message="tns:adduser" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/adduserRequest"/>
            <output message="tns:adduserResponse" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/adduserResponse"/>
        </operation>
        <operation name="updateuser">
            <input message="tns:updateuser" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/updateuserRequest"/>
            <output message="tns:updateuserResponse" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/updateuserResponse"/>
        </operation>
        <operation name="deleteuser">
            <input message="tns:deleteuser" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/deleteuserRequest"/>
            <output message="tns:deleteuserResponse" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/deleteuserResponse"/>
        </operation>
        <operation name="userstosendmail">
            <input message="tns:userstosendmail" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/userstosendmailRequest"/>
            <output message="tns:userstosendmailResponse" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/userstosendmailResponse"/>
        </operation>
        <operation name="getUser">
            <input message="tns:getUser" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/getUserRequest"/>
            <output message="tns:getUserResponse" wsam:Action="http://user.service.openlib.mahxwell.org/UserService/getUserResponse"/>
        </operation>
    </portType>
    <binding name="UserServicePortBinding" type="tns:UserService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="loginuser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="listusers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="adduser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="updateuser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="deleteuser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="userstosendmail">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getUser">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="user">
        <port name="UserServicePort" binding="tns:UserServicePortBinding">
            <soap:address location="http://localhost:8080/Openlibrary-Webservice/user"/>
        </port>
    </service>
</definitions>